**/__pycache__
**/*.pyc
**/*.pyo
.venv
.uv
.git
.github
.mypy_cache
.ruff_cache
.pytest_cache
.coverage
htmlcov
coverage.xml
infra
notebooks/.ipynb_checkpoints
results/*
!results/.gitkeep
*.egg-info
build
dist
*.tfstate*
*.tfvars
.terraform
